
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>

        <hr class="mb-4">

        <div class="col-md-8 order-md-1">
        <h2 class="mb-2">Card Details</h2>


        <form class="center_div1" action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Card Holder Name</label>
                        <input type="text" id="card-name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                  <div class="row">
            <div class="col-md-6 mb-3">
              <label for="expMonth">Expiry Month</label>
              <input type="text" class="form-control" id="expMonth" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid expiry month is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="expYear">Expiry Year</label>
              <input type="text" class="form-control" id="expYear" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid expiry year is required.
              </div>
            </div>
          </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">CVC</label>
                        <input type="text" id="card-cvc" class="form-control" required>
                    </div>
                </div>
            </div>
            <!-- <button type="submit" class="btn btn-success">Buy now</button> -->

            <button class="btn btn-primary btn-lg btn-block" type="submit1">Complete</button>
        </form>
        </div>
    </div>



</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>
